html, body{
   
    margin: 0px;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    color: rgb(27, 91, 165);
    background-color: rgb(102, 238, 227);
}


body {
    color: white;
    display: flex;
    flex-direction: column;
}

.everything {
    flex: 1;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(85, 156, 248);
    padding: 20px;
}



.container > a {
   background-color: rgb(68, 68, 243);
   color: white;
   padding: 20px;
   border-radius: 15px;
}
a{
text-decoration: none;
transition: 0.5s;

   
}

a:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.3);
       
 }

.cont{
    background-color: rgba(157, 157, 238, 0.616);
    border-radius: 20px;
    padding: 20px;
    text-align: justify;
    transition: 0.8s;
    color: black;
    
}
p{
    text-align: justify;
}

.cont > form > h1{
    text-align: center;

}

main{
    padding: 80px;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally within the form */
   
}

textarea {
   
  border: 10px solid blue;
 background-color: rgba(59, 231, 208, 0.767);
 
}