<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    <nav>
        <a href="/home2">Termos de Uso</a>
        <a href="/contatos2">Politica de Privacidade</a>
        <a href="/produtos2">Como Utilizar</a>
    </nav>


    {% block content %}  {% endblock %}

    <footer>
    <nav>
        <a href="/termos-de-uso">Termos de Uso</a>
        <a href="/politica-priv">Politica de Privacidade</a>
        <a href="/como-utilizar">Como Utilizar</a>
    </nav>
    </footer>
</body>
</html>