{% extends "base2.html" %}
{% block title %}Contatos{% endblock %}
{% block content %}

    <h1> Precisa de ajuda? A seguir está a nossa lista de contatos: </h1>
    
    <div class="contatos">
        <div>
            <h2>Telefones:</h2>
            <p>(11) 97467-9088</p>
            <p>(11) 97467-9088</p>
            <p>(11) 2733-7055</p>
        </div>
        <div>
            <h2>Emails:</h2>
            <p>@tokiomarine@yahoo.com</p>
            <p>@sactokiomarine@yahoo.com</p>
            <p>@atendtokiomarine@yahoo.com</p>
        </div>
        <div>
            <h2>Redes Sociais:</h2>
            <p><a href="#">Instagram</a></p>
            <p><a href="#">FaceBook</a></p>
            <p><a href="#">Twitter</a></p>
        </div>
    </div>

{% endblock %}
