{% extends "base3.html" %}

{% block title %}Contatos{% endblock %}

{% block content %}

<div class="cont">
    <form action="" method="post">
        <label for="">Nome</label>
        <input type="text" name="nome" id="">
        <label for="">Sobrenome</label>
        <input type="text" name="texto" id="">
        <label for="">Idade</label>
        <input type="text" name="idade" id="">
        <button>send</button>
    </form>
    <hr>
</div>


<p>
 That's that me espresso
</p>

{% endblock %}