{% extends "base3.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="cont">
   <form action="" method="post">
   <h1>Digite seus pensamentos...</h1>
        <textarea name="" id="" cols="40" rows="30"></textarea>
    </form>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima fugiat saepe dignissimos dolor hic! Magni fuga voluptatem officiis eveniet. Suscipit minima et praesentium non error illum repellat blanditiis perspiciatis voluptatibus.
        Dolor, aliquid odio vitae in alias saepe doloremque fugit dignissimos? Reprehenderit voluptatum cupiditate ipsum, assumenda voluptatem quae iste. Similique nobis impedit minus eum veritatis dolor vitae debitis ratione illum sit?
    </p>
    <hr>
</div>


{% endblock %}