
{% extends "base2.html" %}
{% block title %} Política de Privacidade {% endblock %}
{% block content %}

<h1> Política de Privacidade</h1>
<div class="format-home">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ullam aspernatur quidem tenetur suscipit vitae
        mollitia sit modi molestiae est hic alias expedita esse magnam, quae facilis dolor amet minima.
        Repellendus tempore fugiat expedita, ipsa non possimus pariatur aliquam itaque excepturi necessitatibus,
        corrupti
        aut. Quis necessitatibus quae ab quaerat magnam velit. Sequi, ad dolorem quia natus incidunt consectetur
        corporis
        error?
        Dos?
    </p>
</div>
{% endblock %}

