{% extends "base3.html" %}

{% block title %}Produtos {% endblock %}

{% block content %}

<div class="cont">
    <form action="" method="post">

        <label for="">Digite seus pensamentos</label>
        <textarea name="" id="" cols="30" rows=30"></textarea>
    </form>
   
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima fugiat saepe dignissimos dolor hic! Magni fuga voluptatem officiis eveniet. Suscipit minima et praesentium non error illum repellat blanditiis perspiciatis voluptatibus.
        Dolor, aliquid odio vitae in alias saepe doloremque fugit dignissimos? Reprehenderit voluptatum cupiditate ipsum, assumenda voluptatem quae iste. Similique nobis impedit minus eum veritatis dolor vitae debitis ratione illum sit?
    </p>
    <hr>
    <form action="">
        <label for="">Digite seus nomes</label>
        <textarea name="" id="" cols="30" rows=30"></textarea>
    </form>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima fugiat saepe dignissimos dolor hic! Magni fuga voluptatem officiis eveniet. Suscipit minima et praesentium non error illum repellat blanditiis perspiciatis voluptatibus.
        Dolor, aliquid odio vitae in alias saepe doloremque fugit dignissimos? Reprehenderit voluptatum cupiditate ipsum, assumenda voluptatem quae iste. Similique nobis impedit minus eum veritatis dolor vitae debitis ratione illum sit?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem assumenda esse obcaecati ut dolorum laboriosam voluptatibus, saepe dicta sapiente blanditiis pariatur nisi ab. Iure cum quam harum eaque tempore delectus!
    </p>
    
    <hr>
    <form action="">
        <label for="">Digite seus Millena</label>
        <textarea name="" id="" cols="30" rows=30"></textarea>
    </form>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima fugiat saepe dignissimos dolor hic! Magni fuga voluptatem officiis eveniet. Suscipit minima et praesentium non error illum repellat blanditiis perspiciatis voluptatibus.
        Dolor, aliquid odio vitae in alias saepe doloremque fugit dignissimos? Reprehenderit voluptatum cupiditate ipsum, assumenda voluptatem quae iste. Similique nobis impedit minus eum veritatis dolor vitae debitis ratione illum sit?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem assumenda esse obcaecati ut dolorum laboriosam voluptatibus, saepe dicta sapiente blanditiis pariatur nisi ab. Iure cum quam harum eaque tempore delectus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, voluptas! Fuga velit in quod eveniet, maxime expedita tempore magni asperiores non quae. Quaerat minus eos eum veritatis et sapiente ipsam.
    </p>

    <hr>
</div>


{% endblock %}