{% extends "base3.html" %}

{% block title %}Produtos {% endblock %}

{% block content %}


<form action="" method="post">

    <label for="">Digite seus pensamentos</label>
    <textarea name="" id="" cols="30" rows=30"></textarea>
</form>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima fugiat saepe dignissimos dolor hic! Magni fuga voluptatem officiis eveniet. Suscipit minima et praesentium non error illum repellat blanditiis perspiciatis voluptatibus.
    Dolor, aliquid odio vitae in alias saepe doloremque fugit dignissimos? Reprehenderit voluptatum cupiditate ipsum, assumenda voluptatem quae iste. Similique nobis impedit minus eum veritatis dolor vitae debitis ratione illum sit?
</p>
<form action="">
    <label for="">Digite seus nomes</label>
    <textarea name="" id="" cols="30" rows=30"></textarea>
</form>


<form action="">
    <label for="">Digite seus Millena</label>
    <textarea name="" id="" cols="30" rows=30"></textarea>
</form>

{% endblock %}