{% extends "base2.html" %}
{% block title %}Termos de Uso {% endblock %}
{% block content %}
<h1>Termos de Uso</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est dolore laboriosam incidunt recusandae laborum veritatis deleniti facilis, quaerat cum qui, magni, odio blanditiis consectetur mollitia itaque voluptas maiores! Numquam, neque.
    Ad quas autem quis quam asperiores numquam pariatur vero, consectetur eum nemo veritatis hic? Et perspiciatis veniam in animi molestiae laboriosam est quasi assumenda consequuntur, maxime repudiandae temporibus ipsa? Incidunt.
    Adipisci perspiciatis ducimus aliquam, sed officia consequatur inventore facere hic voluptatum a fugit! Eius eligendi numquam hic eaque aspernatur provident, ipsum culpa aliquid harum architecto! Enim vero ducimus corrupti nemo?</p>
{% endblock %}
